* { box-sizing: border-box }
.body {
    font-size: 16px;
    line-height: 1.6;
    text-align: left;
    margin: 0;
    padding: 0;
}

.menu {
    text-align: left;
    background-color: lightgreen;   
}

.menu a {
    color:whitesmoke;
    text-decoration: none;
    text-align: left;
    padding: 20px 28px;
    display: inline;
}

.menu a:hover {
    background-color:whitesmoke;
    color:lightgreen;
}

.menu a:active {
    background-color: mediumseagreen;
    color: whitesmoke;
}
.menu li {
    display: inline;
    font-weight: 700;
}

.form {
    margin: 10px 40px;
    background-color: red;
}
