.menu {
    margin: 0; padding: 0;
    text-align: center;
    background-color: green;
}

.menu a {display: inline-block;
        color: white;
    text-decoration: none;
    padding: 20px 30px; 
}

.menu li {
    display: inline-block;
    font-weight: 700;
}
.domu {
    text-align: center;
}

.username {
    background-color: grey;
    padding: 60px;
    margin: 30px;
    border-radius: 50px;
    align-content: center;
}