<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Domů</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <ul class="menu">
        <li><a href="{{ url_for('home') }}">Domů</a></li>
        <li><a href="{{ url_for('login') }}">Přihlášení</a></li>
        <li><a href="#registrace">Registrace</a></li>
    </ul>
    <section class="home" id="home">
        <p>Vítej na webu.</p>
        
        <p>Pokud máš užívatelský účet, <a href="{{ url_for('login') }}">přihlas se</a>.</p>

        <p>Pokud uživatelský účet nemáš, <a href="{{ url_for('registration') }}">zaregistruj se</a>.</p>
    </section>

</body>
</html>