<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="static/style.css">
    <!-- <script src="static/script.js"></script> -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class='hlavicka'></div>
    <ul class="menu" id="menu">
      {% if current_user.is_authenticated %}
      <li><a href="{{ url_for('user') }}">Uživatel</a></li>
      <li><a href="{{ url_for('logout') }}">Odhlásit</a></li>
  {% else %}
      <li><a href="{{ url_for('login') }}">Přihlášení</a></li>
      <li><a href="{{ url_for('register') }}">Registrace</a></li>
  {% endif %}
    </ul>
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% block content %}{% endblock %}
</body>
</html>



