{% extends "layout.html" %}
    {% block content %} 
    <div class="form" id="form">
        <form action="/login" method="POST",>
        <div class=forms>
          {{form.hidden_tag()}}
            <fieldset class="username">

                {{form.username.label}} <br>
                {{form.username(size=40, class="formfield")}}
                {% if form.username.errors %}
                      <ul class="errors">
                        {% for error in form.username.errors %}
                          <li>{{ error }}</li>{% endfor %}
                      </ul>
                    {% endif %}
            </fieldset>

            <fieldset class="password">
                {{form.password.label}} <br>
                {{form.password(size=40, class="formfield")}}
                {% if form.password.errors %}
                        {% for error in form.password.errors %}
                        <span class="errors" style="color: red;"> {{ error }}</span>
                        {% endfor %}
                    {% endif %}
            </fieldset>

            <div class="button">
                {{form.submit(class="btn")}}
            </div> 
            <div class ="account">
              Pokud uživatelský účet nemáš, <a href="{{ url_for('register') }}">zaregistruj se.</a>
            </div>
        </div>
        </form>   
    </div>
{% endblock %}


