<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registrace na web</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <ul class="menu">
        <li><a href="{{ url_for('home') }}">Domů</a></li>
        <li><a href="{{ url_for('login') }}">Přihlášení</a></li>
        <li><a href="{{ url_for('register') }}">Registrace</a></li>
    </ul>

    <div class="register" id="register">
        <h2>Registrace</h2>
        <form action="" method="GET, POST">

        <p class="username">
            {{form.username.label}} <br>
            {{form.username(size=20)}}
        </p>

        <p>
            {{form.password.label}} <br>
            {{form.password(size=20)}}
        </p>

        <p>
            {{form.confirm_password.label}} <br>
            {{form.confirm_password(size=20)}}
        </p>

        <p>
            {{form.signup()}}
        </p>

        </form>
    </div>

    <!-- Write your comments here -->
    