{% extends "layout.html" %}
    {% block content %} 
    <div class="register" id="register">
        
        <form action="/register" method="POST">

        <fieldset class="register-form">
            <h2>Registrace</h2>
            <p>
                {{form.username.label}} 
                {{form.username(size=20, placeholder='Uživatel')}}
            </p>
            <p>
                {{form.password.label}}
                {{form.password(size=20, placeholder='Heslo')}}
            </p>
            <p class="button">
                {{form.signup()}}
            </p>
        </fieldset>
        </form>
        <p>Pokud máš užívatelský účet, <a href="{{ url_for('login') }}">přihlas se</a>.</p>
        
    </div>
{% endblock %}


    