{% extends "layout.html" %}
{% block content %}
    <div class="user">
        <p>
            Ahoj {{current_user.username}}, vítej na webu.</p>

        <p>Zde najdeš seznam všech uživatelů. </p>
            <li id="userprofile">
                {{username}} 
                <div id='detail' class="detail">

                    <div class='name' id='nameInProfile'>{{username}}</div>

                    <img class='image' src={{users[username]['picture']}}>
                    
                </div>
                {% if username == current_user.username %}
                <a id="remove" href="{{url_for('remove', username=username)}}">Smazat profil</a>

                {% elif username != current_user %}
                <a href="#">Přidat do přátel</a>
                {% endif %} 
            </li>
            {% endfor %}
        </ul>
    </div>
    <script src="static/script.js"></script>
{% endblock %}

