{% extends "layout.html" %}
{% block content %}
    <div class="user">
        <p>
            Ahoj {{current_user.username}}, vítej na webu.</p>

        <p> Kromě tebe jsou na webu tito uživatelé: </p>
        <ul id="profile">
            {% for  username, user in users.items() %}
            <li>
                {{username}} 
                <div class="userprofile">
                  <!--   {{username}} -->
                     <img src={{users[username]['picture']}} style="width:60px;height:60px;" >
                </div>
                {% if username != current_user.username %}
                <a href="{{url_for('remove', username=username)}}">Smazat</a>
                {% endif %} 
            </li>
            {% endfor %}
        </ul>
        <p> Můžeš si z nich vystřelit a profil jim smazat. </p>
    </div>
    <script src="static/script.js"></script>
{% endblock %}

