{% extends "layout.html" %}
{% block content %}
    <div class="user">
        <p>
            {{current_user.username}}, Vítej na webu!</p>

        <p> Na webu jsou registrovaní tito uživatelé: </p>
        <ul>
            {% for  username, user in users.items() %}
            <li>
                {{username}} 
                {% if username != current_user.username %}
                <a href="{{url_for('remove', username=username)}}">Smazat</a>
                        <div class="userprofile">
                            <img src='https://cdn.pixabay.com/photo/2015/12/01/20/28/green-1072828_960_720.jpg'>
                            {{username}}

                        </div>
                {% endif %} 
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

